* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: lightcoral;
    border-radius: 5em;
}

.link_navbar > ul{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    position: relative;
    right: 5rem;
    bottom: 1rem;
    justify-content: end;
    list-style-type: none;
}   




.title_navbar > h1 {
    position: relative;
    left: 3rem;
    top: 0.5rem;
}

.navbar_names {
    color: black;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}

.menu_title {
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
    border-radius: 3rem;
}

.menu_content {
    position: relative;
    top: 1.2rem;
    left: 2rem;
}

