@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 


body {
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", "Arial";
    padding: 0;
    margin: 0;
};

.header_index_page {
    background-color: #003871;
    display: flex;
    padding: .8rem;
}


/*-- Media --*/


@media (max-width: 450px){
    html, body {
        overflow-x: hidden ;
    }

    .header_index_page {
        background-color: #003871;
        display: flex;
        padding: .70rem;
        font-size: .9rem;
        
    }

    .logo_index_page > h1{
        display: none;
    }

    .navbar_index_page {
        display: none;
        gap: 1rem;
        flex-direction: column;
        position: relative;
        
    }

    .navbar_index_page > a {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 5rem;
        text-align:center;
        left: 3rem;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }

    .navbar_index_page > a {
        color: #f5f5f5;
        display: flex;
        text-decoration: none;
    }

    .navbar_index_hamb_menu {
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        position: relative;
        left: 13rem;
        top: 1rem;
        cursor: pointer;

    }

    /*main part*/

    .text_main_index_page {
        padding-left: 1rem;
    }

    .main_img_index_page {
        width: 23rem;
        height: 23rem;
    }
    .about_index_page {
        padding-left: 1.5rem;
        background-color: #8b8b8b;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .part2_about_index_page > p {
        text-align: justify;
    }

    .part2_about_index_page > h1{
        padding: .8rem;
        border-radius: 3rem;
        font-weight: 500;
        background-color: #f5f5f5;
        font-size: 1.4rem;
        text-align: center ;
    }

    .part2_about_index_page > ul {
        display: flex;
        gap: 3rem;
        list-style: none;
        text-decoration: underline;
        font-weight: bolder;

    }
}


@media (max-width: 340px){

    .navbar_index_hamb_menu {
        display: inline-flex;
        position: relative;
        left: 11rem;
        bottom: 9rem;
    }
    }
    
@media (mix-width: 341px) and (max-width: 425px){
        .navbar_index_hamb_menu {   
            display: inline-flex;
            position: relative;
            left: 10rem;
            bottom: 8rem;
            
     }
     }
/*Alterações para telas menores ou maiores*/




