

@media (min-width: 320px) and (max-width: 350px){
    .navbar_index_hamb_menu {
        display: inline-flex;
        position: relative;
        left: 11rem;
        bottom: 9rem;
    }
}

@media (min-width: 350px ) and (max-width: 375px){

    .navbar_index_hamb_menu {
        display: inline-flex;
        position: relative;
        left: 14rem;
        bottom: 9rem;
    }
}
    
@media (min-width: 416px) and (max-width: 425px){
        .navbar_index_hamb_menu {   
            display: inline-flex;
            position: relative;
            left: 17rem;
            bottom: 8rem;
            
}
}
@media (min-width: 426px) {
        .navbar_index_hamb_menu {
            display: inline-flex;
            position: relative;
            left: 18rem;
    }
}